footer {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  background-color: #686868;
  padding: 20px;
  font-size: 20px;
}

.f1-container {
  display: flex;
  width: 74%;

  justify-content: space-around;
  align-items: center;
}

.f1-left-side {
  display: flex;
}

.f1-left-side img {
  height: 110px;
}

.f1-logo-container {
  display: flex;
  justify-content: space-around;
}

.name-of-company {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer {
  color: black;
}
