body {
  margin: 0px;
  font-family: "Playfair Display", serif;
  font-style: normal;
  background-color: #f8f6f0;
}

a:link,
a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
}

html {
  scroll-behavior: smooth;
}
